layout {
    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/zjstatus.wasm" {
            format_left "{mode}#[fg=#5ea1ff,bg=#11111b,bold] {session}#[bg=#11111b] {tabs}"
            format_space "#[bg=#11111b]"
            mode_normal "#[bg=#89B4FA] "
            tab_normal "#[fg=#6C7086,bg=#11111b] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active "#[fg=#cdd6f4,bg=#11111b,bold,italic] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator "  "
            tab_floating_indicator "󰉈 "
            swap_layout_format "#[fg=#6C7086] {name} "
            swap_layout_hide_if_empty "true"
        }
    }
    pane split_direction="vertical" {
        pane
    }
}

